includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8
    excludes_analyse:
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        -
            message: '#Variable method call on object.#'
            path: src/PageDiscriminator.php
            count: 1
        -
            # Doctrine 2.5 type hint issue
            message: '#Call to static method Assert\\Assertion::notNull.. with int and .Query must have a…. will always evaluate to true#'
            path: src/DoctrinePaginator.php
            count: 1
    reportUnmatchedIgnoredErrors: false

