parameters:
    level: 9
    scanDirectories:
        - src
        - tests
    excludePaths:
        - vendor
    doctrine:
        objectManagerLoader: tests/object-manager.php
    ignoreErrors:
        # Property is actually read in a trait
        - message: '#Property Mention\\FastDoctrinePaginator\\DoctrinePaginator::\$generator is never read, only written#'
          path: 'src/DoctrinePaginator.php'
        - message: '#Method Mention\\FastDoctrinePaginator\\Internal\\TypedQuery::execute\(\) should return array<ItemT> but returns mixed#'
          path: 'src/Internal/TypedQuery.php'
